/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

image {
  animation-name: whirl;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
circle {
  fill: black;
}

.died {
  fill: red;
}

@keyframes whirl {
  /*from {
    transform: rotate(0deg);
  }*/
  to {
    transform: rotate(360deg);
  }
}

